{% extends 'base.html' %}
{% block title %}Lista de Pedidos{% endblock %}
{% block content %} 
    <div>
        <h5>Lista de Pedidos</h5>

        <form method="get">
            <input type="text" name="cliente" placeholder="Cliente" value="{{ request.GET.cliente }}">
            <input type="text" name="produto" placeholder="Produto" value="{{ request.GET.produto }}">
            <button type="submit">Pesquisar</button>
            <a href="{% url 'lista_pedidos' %}">Limpar</a>
        </form>

        {% if pedidos|length > 0 %}
        <p>
            Aqui está a lista de <code>Pedidos</code>
            cadastrados.
        </p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Produto</th>
                    <th>Data de Pedido</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pedidos %}
                <tr>
                    <td>{{ p.id_pedido }}</td>
                    <td>{{ p.cliente }}</td>
                    <td>{{ p.produto }}</td>
                    <td>{{ p.data_pedido }}</td>
                    <td>
                        <a href="{% url 'atualiza_pedido' pk=p.id_pedido %}">
                            Atualizar
                        </a>
                        <a href="{% url 'deleta_pedido' pk=p.id_pedido %}">
                            Excluir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>
            <h5>Nenhum <code>Pedido</code> cadastrado ainda.</h5>
        </div>
        {% endif %}
        <hr />
        <div>
            <a href="{% url 'cadastra_pedido' %}">
                Cadastrar Pedido
            </a>
        </div>
    </div>
{% endblock %}