{% extends 'base.html' %}
{% block title %}Lista de Clientes{% endblock %}

{% block content %} 
    <div>
        <h5>Lista de Clientes</h5>

        <form method="get">
            <input type="text" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
            <input type="email" name="email" placeholder="Email" value="{{ request.GET.email }}">
            <button type="submit">Pesquisar</button>
            <a href="{% url 'lista_clientes' %}">Limpar</a>
        </form>

        {% if clientes|length > 0 %}
            <p>
                Aqui está a lista de <code>Clientes</code> cadastrados.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in clientes %}
                        <tr>
                            <td>{{ c.id_cliente }}</td>
                            <td>{{ c.nome }}</td>
                            <td>{{ c.email }}</td>
                            <td>{{ c.telefone }}</td>
                            <td>
                                <a href="{% url 'atualiza_cliente' pk=c.id_cliente %}">
                                    Atualizar
                                </a>
                                <a href="{% url 'deleta_cliente' pk=c.id_cliente %}">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                <h5>Nenhum <code>Cliente</code> encontrado.</h5>
            </div>
        {% endif %}
        <hr />
        <div>
            <a href="{% url 'cadastra_cliente' %}">
                Cadastrar Cliente
            </a>
        </div>
    </div>
{% endblock %}
