{% extends 'base.html' %}
{% block title %}Lista de Produtos{% endblock %}
{% block content %} 
    <div>
        <h5>Lista de Produtos</h5>
        <form method="get">
            <input type="text" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
            <input type="number" name="preco" placeholder="Preço" value="{{ request.GET.preco }}">
            <button type="submit">Pesquisar</button>
            <a href="{% url 'lista_produtos' %}">Limpar</a>
        </form>
        {% if produtos|length > 0 %}
            <p>
                Aqui está a lista de <code>Produtos</code>
                cadastrados.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in produtos %}
                    <tr>
                        <td>{{ p.id_produto }}</td>
                        <td>{{ p.nome }}</td>
                        <td>{{ p.descricao }}</td>
                        <td>{{ p.preco }}</td>
                        <td>
                            <a href="{% url 'atualiza_produto' pk=p.id_produto %}">
                                Atualizar
                            </a>
                            <a href="{% url 'deleta_produto' pk=p.id_produto %}">
                                Excluir
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>
                <h5>Nenhum <code>Produto</code> cadastrado ainda.</h5>
            </div>
            {% endif %}
            <hr />
            <div>
                <a href="{% url 'cadastra_produto' %}">
                    Cadastrar Produto
                </a>
            </div>
    </div>
{% endblock %}